<!DOCTYPE html>
<html>
<head>
	<title>Sign up</title>
</head>
<body>
<form action="/signup" method="post">


<h1>Name</h1>
<input type="text" name="name" placeholder="Enter your name please">		
<h1>ID</h1>
<input type="text" name="idnum" placeholder="ID">
<h1>password</h1>
<input type="password" name="psw" placeholder="ID">
<input type="text" name="mail" placeholder="mail">

<input type="submit" value="Submit">

<!-- 

{% if {{mailflag}} == False}
<h1>again mail</h1>	
{{%endif%}}
 -->


</form>
</body>
</html>