<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>GOW</title>
    <link rel="icon" href="templates/logo.png" />
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename ='..static/css/bootstrap/css/bootstrap.min.css' )}}"/>

    <!-- Custom styles for this template -->
    <link
      href="css/scrolling-nav.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link rel="background" href="static/aboutus_bg.jpg" />
  </head>
  <style>
    #lead {
      font-size: 50px;
    }
    .img {
    }
    .background-image {
    }
    #gg {
    }
    .top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}


  </style>

  <body id="page-top">
  	
    <!-- Navigation -->
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
      id="mainNav"
    >
      <div class="container">
       <h3>hello {name}!</h3>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/sign_up">sign up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/sign_in">Log in</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--___________________________________________________LOGO/GOW______________________________________________________________________-->
    <header
      class="bg-primary text-white"
      style="margin-top:50px ;background-color:none !important;background-size:100%;"id="GOW">
      <div
        
        class="container text-center"
        style="height: 95vh; background-size: 10vw !important;">
        <p style="font-size:100px;">GOW</p>
        <p class="lead">Go Over World</p>
      </div>
    </header>
    <!--___________________________________________________ABOUT______________________________________________________________________-->
    <center>
    <div
      style="
    left:0;
    width:100%;"
    >
      <section 
        id="about"
        style=" max-width: none !important;background-size: 100%;width:full !important;"
      >
        <div
          class="container"
          id="gg"
          style=" height:70vh !important; "
        >
          <div class="row">
            <div class="col-lg-8 mx-auto">
                
              <h2 style="color:	#FFFAFA !important;">About GOW:</h2>
              <p class="top-left"  style="color:	#FFFAFA; ">
                fill in info about GOW
              </p>

            </div>
          </div>
        </div>
       
      </section>
    </div>
    <!--___________________________________________________SERVICES______________________________________________________________________-->
    <div>
      <section id="services" class="bg-light" style="height:70vh">
        <div
          class="container"
          style="position:absolute;
      left:0;
      width:100%;"
        >
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h2>Services we offer</h2>
              <p class="lead">fill in services</p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!--___________________________________________________CONTACT______________________________________________________________________-->
    <section id="contact" style="height:70vh">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact us</h2>
            <p class="lead">fill in our contact info</p>
          </div>
        </div>
      </div>

    </div>
  </section>

</center>
  






  <!-- Bootstrap core JavaScript -->
 
    </section>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; GOW</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{url_for('static', filename ='vendor/jquery/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename ='css/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js')}}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{{url_for('static', filename ='js/scrolling-nav.js')}}"></script>

    <script src="{{ url_for('static', filename='vendor/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.bundle.js') }}"></script>
    <script>
      //   var imgsrc = '{{imgsrc}}';
      //   var imgE = document.getElementById('gamelogo');
      //   imgE.setAttribute('src',imgsrc);
      //   //
      // //
      var imgArray = new Array();

      imgArray[0] = new Image();
      imgArray[0].src = "../static/2onpc.png";
      imgArray[1] = new Image();
      imgArray[1].src = "../static/1PonRas.jpg";
      imgArray[2] = new Image();
      imgArray[2].src = "../static/1PonPc.png";
      imgArray[3] = new Image();
      imgArray[3].src = "../static/acodd1.jpg";
      document.getElementById("GOW").style.backgroundImage =
        "url(" + imgArray[Math.floor(Math.random() * 3)].src + ")";

      function chngbg() {
        document.getElementById("GOW").style.transition = "1s";
        document.getElementById("GOW").style.backgroundImage =
          "url(" + imgArray[Math.floor(Math.random() * 3)].src + ")";
        document.getElementById("GOW").style.transition = "1s";
      }
      document.getElementById("GOW").style.backgroundImage="cover";
      window.setInterval(function() {
        chngbg();
      }, 7000);
    </script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </body>
</html>
