<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="../static/img/logo.png">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>GOW</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"/>
    <link
      href="https://fonts.googleapis.com/css?family=Varela+Round"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/grayscale.min.js"></script>
    <!-- Custom styles for this template -->
  <link href="../static/css/grayscale.min.css" rel="stylesheet"/>
<script src="../static/js/grayscale.js"></script>
    <!-- Custom styles for this template -->
  <link href="../static/css/grayscale.css" rel="stylesheet"/>

  </head>

  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
            </li>
            
              <li class="nav-item">
              
              <a class="nav-link js-scroll-trigger" href="/hebrew">עברית</a>
            </li>
              <li class="nav-item">
              
              <a class="nav-link js-scroll-trigger" href="/arabic">العربية</a>
            
            </li>
            <li class="nav-item">
              
              <a class="nav-link js-scroll-trigger" href="/Apply">Apply to the program</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">GOW</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">
            Go Over World
          </h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">About GOW</h2>
            <p class="text-white-50">GOW provides a free vocational training program to Israeli and Palestinian middle school students with high drop out rstes to empower them to take control of their own future.
            </p>
          </div>
        </div>
        
        <img src="../static/img/ipad.png" class="img-fluid" alt=""/>
      </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
      <div class="container">
        <!-- Featured Project Row -->
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
          <div class="col-xl-8 col-lg-7">
            <img
               id = "onpc"
              class="img-fluid mb-3 mb-lg-0"
              src="../static/img/2onpc.png"
              alt=""
              
            />
          </div>
          <style type="text/css">
            #onpc{
              left: 0;
              width: 110%;
            }
            
          </style>
          <div class="col-xl-4 col-lg-5">
            <div class="featured-text text-center text-lg-left">
              <h4>GOW provides:</h4>
              <p class="text-black-50 mb-0">
                <ul>
                  <li>
                    <b>Useful vocational knowledge -</b> The skills and knowledge to repair desktop computers and various electronic devices. Alumni of the program will have employable skills in the electronic industry.
                  </li>
                   <li>
                     <b>Entertainment -</b>Having fun, while developing skills, is also a priority of ours. Beach trips, Escape rooms and other fun activities will be provided as a reward for hard work.
                   </li>
                   <li>
                     <b>Self development -</b>Middle school is the time in which youth can form their self-image and better understand their potential. We will provide them the platform they need to express their abilities
                   </li>
                </ul>
              </p>
            </div>
          </div>
        </div>

        <!-- Project One Row -->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6">
            <img class="img-fluid" src="../static/img/demo-image-01.jpg" alt="" />
          </div>
          <div class="col-lg-6">
            <div class="bg-black text-center h-100 project"style="background-color:#87c830 !important">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-left"
                >

                  <h4 class="text-black" style="font-size: 40px">Mission</h4>
                  <p class="mb-0 text-black-50" style="font-size: 20px">
                    Our mission is to empower and support middle school students by providing them with useful skills, a fun and safe environment and a way to express their individuality.
                  </p>
                  <hr class="d-none d-lg-block mb-0 ml-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Project Two Row -->
        <div class="row justify-content-center no-gutters">
          <div class="col-lg-6">
            <img class="img-fluid" src="../static/img/demo-image-02.jpg" alt="" />
          </div>
          <div class="col-lg-6 order-lg-first" >
            <div class="bg-black text-center h-100 project" style="background-color:#47c9dd !important">
              <div class="d-flex h-100">
                <div
                  class="project-text w-100 my-auto text-center text-lg-right "
                >
                  <h4 class="text-black" style="font-size: 40px">Vision</h4>
                  <p class="mb-0 text-black-50" style="font-size: 20px">
                    We envision a reality where all teenagers have a chance to grow up in a healthy environment, and to become productive and proud adults.
                  </p>
                  <hr class="d-none d-lg-block mb-0 mr-0" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section" style="background-image:"src="../static/img/demo-image-02.jpg !important">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-lg-8 mx-auto text-center">
            <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
            <h2 class="text-white mb-5">Give us your email adress if you are intrested to volunteer!</h2>

            <form class="form-inline d-flex">
              <input
                type="email"
                class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0"
                id="inputEmail"
                placeholder="Enter email address..."
              />
              <button type="submit" class="btn btn-primary mx-auto">
                Send
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
      <div class="container">
        <div class="row">
          

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fa fa-envelope" style="font-size:24px"></i>
                <h4 class="text-uppercase m-0">Email</h4>
                <hr class="my-4" />
                <div class="small text-black-50">
                  <a href="#">gooverworld@gmail.com</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3 mb-md-0">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class="fa fa-phone" style="font-size:24px"></i>
                <h4 class="text-uppercase m-0">Phone</h4>
                <hr class="my-4" />
                <div class="small text-black-50">+1 (555) 902-8832</div>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-3 mb-md-0" id="">
            <div class="card py-4 h-100">
              <div class="card-body text-center">
                <i class='fas fa-hand-holding-usd' style='font-size:24px'></i>
                <h4 class="text-uppercase m-0">Donate</h4>
                <hr class="my-4" />
                <div class="small text-black-50">
                </div>
              </div>
            </div>
          </div>
        </div>

      
      </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
      <div class="container">
        Copyright &copy; GOW 2019
      </div>
    </footer>


  </body>



<!-- test -->
<script type="text/javascript">
  !function(e){"use strict";e('a.js-scroll-trigger[href*="#"]:not([href="#"])').click(function(){if(location.pathname.replace(/^\//,"")==this.pathname.replace(/^\//,"")&&location.hostname==this.hostname){var a=e(this.hash);if((a=a.length?a:e("[name="+this.hash.slice(1)+"]")).length)return e("html, body").animate({scrollTop:a.offset().top-70},1e3,"easeInOutExpo"),!1}}),e(".js-scroll-trigger").click(function(){e(".navbar-collapse").collapse("hide")}),e("body").scrollspy({target:"#mainNav",offset:100});function a(){100<e("#mainNav").offset().top?e("#mainNav").addClass("navbar-shrink"):e("#mainNav").removeClass("navbar-shrink")}a(),e(window).scroll(a)}(jQuery);

</script>


</html>
